/* Add colors here first */
:root {
  --theme-color1: #034ceb;
  --theme-color2: #ffff00;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background: linear-gradient(121deg, var(--theme-color1), var(--theme-color2));
}

header {
  background: linear-gradient(121deg, var(--theme-color1), var(--theme-color2));
  padding: 10px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 15px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #f39c12; /* Yellow color on hover */
}

.logo img {
  max-height: 120px; /* Adjust the max height as needed */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
